PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=clinica_db
DB_SYNC=true
DB_SSL=false
DB_SEED=true
JWT_SECRET= #(generar mediante el comando: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))")
JWT_EXPIRES_IN=1h